.main-content {
    padding-top: 80px;
}
#logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left:5px;
    top: 0px;
    opacity: .5;
}
:hover >#logo {
    opacity: 1;
}
.navbar-brand >span {
    margin-left: 45px;
}
.panel-title {
    display: inline-block;
    margin-right: 5px;
}
.progress-wrapper {
    position: relative;
    width: 200px;
    margin: auto;
}
.progress-label {
    font-size: 25pt;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #bbb;
}
.loading {
    width: 50px;
    display: block;
    margin: 20px auto;
}
.add-new {
    padding: 142px 19px;
    cursor: pointer;
}
.add-new:hover {
    background: #ddd;
}
.add-new h1 {
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 0px white;
}

.background-image{
    background-size: cover;
    background-image: url('img/bg.jpg');
}

.thumbnail img{
    opacity: 0.7;
}

.jumbotron p{
    font-weight: 400;
}


