{% extends "base.html" %}
{% load staticfiles %}

{% block extra_js %}
<script src="{% static 'activeurl.js' %}"></script>
<script src="{% static 'app.js' %}"></script>
<script src="{% static 'services.js' %}"></script>
<script src="{% static 'controllers.js' %}"></script>
{% endblock %}

{% block extra_body_tag %}
ng-app="damsonApp"
{% endblock %}

{% block content %}
<div ng-view></div>
{% endblock %}
