{% verbatim %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li ng-class="{active: selected=='wifiuser'}"><a href="#" ng-click="select('wifiuser')">As Wifi User</a></li>
    <li ng-class="{active: selected=='hotspotowner'}"><a href="#" ng-click="select('hotspotowner')">As Hotspot Owner</a></li>
  </ul>
</nav>
<div class="container" ng-if="selected=='wifiuser'"
     ng-include="'partials/useraccount/'"
     ng-controller="UserAccountCtrl">
</div>
<div class="container" ng-if="selected=='hotspotowner'"
     ng-include="'partials/hotspot/'"
     ng-controller="ConfigCtrl">
</div>
{% endverbatim %}
