{% verbatim %}
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Buy More Data</h4>
      </div>
      <div class="modal-body">
        <p>How much more data would you like to buy?</p>
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" aria-describedby="amt-unit" min="1" max="100" ng-model="amt">
          <span class="input-group-addon" id="amt-unit">MB</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">Buy</button>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
