<div class="jumbotron background-image">
  <h1>Damson</h1>
  <p>Sharing the one resource we all crave the most: Wifi.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="static/img/1.jpg" />
        <div class="caption">
          <h3>Connect</h3>
          <p>Connect to Damson hotspots anywhere you need Wifi and others are willing to lend a band, whether you're at home, in the air, or anywhere.</p>
          <p><a href="#" class="btn btn-primary btn-block" role="button">Sign up now</a></p>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="static/img/2.jpg">
      <div class="caption">
        <h3>Share</h3>
        <p>Barely scratching the surface of your data plan? Feeling like a good samaritan? Help a brother out and capitalize on your unused bandwidth with your own Damson hotspot.</p>
        <p><a href="#" class="btn btn-primary btn-block" role="button">Sign up now</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="static/img/3.jpg">
      <div class="caption">
        <h3>For Businesses</h3>
        <p>Damson hotspots make setting up guest Wifi for your customers unbelievably easy. Bring your brick and mortar business into the digital age without breaking a sweat.</p>
        <p><a href="#" class="btn btn-primary btn-block" role="button">Sign up now</a></p>
      </div>
    </div>
  </div>
</div>
