{% verbatim %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Hotspots</h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 hotspot well" ng-repeat="hotspot in hotspots">
          <form>
            <div class="form-group">
              <label for="hotspotName">Name</label>
                <input type="text" class="form-control" id="hotspotName" placeholder="My Hotspot" ng-model="hotspot.name" />
            </div>
            <div class="form-group">
              <label for="datacap">Data Cap</label>
              <div class="input-group">
                <input type="number" class="form-control" id="datacap" placeholder="0" min="0" ng-model="hotspot.data_cap_mb" aria-describedby="helpBlock" />
                <span class="input-group-addon">MB</span>
              </div>
              <span id="helpBlock" class="help-block">Optional: set a limit for the amount of data you share through this hotspot.</span>
            </div>
            <button class="btn btn-primary btn-block"
                    ng-click="update(hotspot)">Update</button>
            <button class="btn btn-danger btn-block" ng-show="hotspot.active"
                    ng-click="hotspot.disable()">Disable</button>
            <button class="btn btn-success btn-block" ng-show="!hotspot.active"
                    ng-click="hotspot.enable()">Enable</button>
            <div class="alert alert-success alert-dismissible" ng-show="hotspot.success" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Success!</strong> Hotspot successfully updated.
            </div>

          </form>
        </div>

        <div class="col-sm-4 hotspot well add-new" ng-click="addNew()">
          <h1>+ Add</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Data Usage</h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-danger" role="alert" ng-show="totalData.remaining() < 1">
      <strong>Warning!</strong> You have exceeded your data cap! <a href="#" class="alert-link" ng-click="disableAll()">Disable your hotspots</a> to ensure that you do not exceed your data plan.
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">
            Data Used: {{totalData.used()|number:2}} MB
          </li>
          <li class="list-group-item">
            Data Remaining: {{totalData.remaining()|number:2}} MB
          </li>
          <li class="list-group-item">
            Data Cap: {{totalData.cap()|number:2}} MB
          </li>
          <!--
          <li class="list-group-item">
            View for specific hotspot: <select>
          </li>-->
        </ul>
      </div>

      <div class="col-sm-6">
        <div class="progress-wrapper">
          <div class="progress-label ng-cloak">{{ totalData.used()|number:0 }}/{{ totalData.max()|number:0 }}</div>
          <round-progress
             max="totalData.max()"
             current="totalData.used()"
             color="#45ccce"
             bgcolor="#eaeaea"
             radius="100"
             stroke="20"
             semi="false"
             rounded="true"
             clockwise="true"
             responsive="false"
             duration="800"
             animation="easeInOutQuart"
             animation-delay="0"></round-progress>
        </div>
      </div>
    </div>
  </div>

</div>

{% endverbatim %}
