{% load staticfiles %}
<img src="{% static 'img/spin.svg' %}" ng-hide="success" class="loading"/>
<div class="panel panel-default" ng-show="success">
  <div class="panel-heading">
    <h3 class="panel-title">You are now logged out.</h3>
  </div>
  <div class="panel-body">
    Thanks for using Damson!
  </div>
</div>
