{% verbatim %}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Device Mac Address</h3><a target="_blank" href="http://lmgtfy.com/?q=what+is+my+mac+address">?</a>
        </div>
        <div class="panel-body">
          <form class="form-inline" ng-submit="updateMac()">
            <input id="userMac" class="form-control" maxlength="17" type="text" ng-model="user.mac" placeholder="00:00:00:00:00" />
            <button class="btn btn-default" type="submit">Update</button>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccess" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Success!</strong> Mac Address successfully updated. Your new device should now work on this Damson hotspot.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Data Usage</h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" ng-show="totalDataRemaining() <= 0 ">
        <strong>Warning!</strong> You have exceeded your data cap! <a href="#" class="alert-link" ng-click="buyData()">Buy more data</a> or you will lose access to Damsom hotspots.
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group">
            <li class="list-group-item">
              Data Used: {{user.data_used_mb|number:2}} MB
            </li>
            <li class="list-group-item" ng-hide="isHotspotOwner">
              Data Remaining: {{user.getRemaining()|number:2}} MB
            </li>
            <li class="list-group-item" ng-show="isHotspotOwner">
              Data Remaining: {{totalDataRemaining()|number:2}} MB
              <p class="help-text">
                ({{user.getRemaining()|number:2}} MB + credits)
              </p>
            </li>
            <li class="list-group-item">
              Data Purchased: {{user.data_purchased_mb|number:2}} MB
            </li>
            <li class="list-group-item" ng-show="isHotspotOwner">
              Data Credits: {{ totalData.used()|number:2}} MB
              <p class="help-text">These are credits you earned by sharing your data with Damson!</p>
            </li>
            <li class="list-group-item">
              <button class="btn btn-info btn-lg btn-block"
                      ng-click="buyData()">Buy more data</button>
            </li>
          </ul>
        </div>

        <div class="col-sm-6">
          <div class="progress-wrapper">
            <div class="progress-label ng-cloak">{{ user.data_used_mb|number:0 }}/{{ user.data_purchased_mb + totalData.used()|number:0 }}</div>
            <round-progress
               max="totalDataMax()"
               current="user.data_used_mb"
               color="#45ccce"
               bgcolor="#eaeaea"
               radius="100"
               stroke="20"
               semi="false"
               rounded="true"
               clockwise="true"
               responsive="false"
               duration="800"
               animation="easeInOutQuart"
               animation-delay="0"></round-progress>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endverbatim %}
